<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Pulse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <link rel="stylesheet" type="text/css" href="pulse.css">
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">PulsVis</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="../index.html">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Om os</a>
                        </li>
                </div>
            </div>
        </nav>

        <div >
            <input placeholder="please enter name" type="text" v-model="name" id="NameInput" >
            <button v-on:click="getbyName(name)" class="btn btn-secondary"id="getbyNameButton">Search</button>
        </div>

        <div class="row">
            <div class="container left">
                <div>
                    <h1>Stress puls</h1>
                    <p>Her kan du se historik over din pulsmåling.</p>
                </div>
            </div>
    
            <div class="container right">
                <div>
                    <h1>Stress puls</h1>
                    <p>Her kan du se din efter stress puls, samt historik over din stress puls.</p>
                </div>
                <div class="custom-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Dato</th>
                                <th>Tidspunkt</th>
                                <th>stresspuls</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="history in stresspulsFiltered" :key="history.historyId">
                                <td>{{ person.name }}</td>
                                <td>{{ formatDate(history.recordTime) }}</td>
                                <td>{{ formatTime(history.recordTime) }}</td>
                                <td>{{ history.stresspuls}} BPM</td>                              
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <script src="../index.js"></script>
</body>

</html>

</div>
</div>

</body>

</html>